<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jgwhit14.cs450finalproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/location"
        android:label="Where You At!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MyLocations"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Where You At! - My Locations"/>
        <activity android:name=".Friends"
            android:label="Where You At! - My Friends"/>/>
        <activity android:name=".FriendRequests" />
        <activity android:name=".MyFriendsLocations"
           />
        <activity
            android:name=".SaveLocation"
            android:label="Save Location"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".SelectLocation"
            android:label="View Location"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".AddFriend"
            android:label="Add Friend"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".EditLocation"
            android:label="Edit Location"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewRecommendations" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity android:name=".UploadPhoto"
            android:label="Upload Photo"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog"></activity>
    </application>

</manifest>